#total{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}
#logo{
  margin-left: 40%;
  margin-right: auto;
  margin-bottom: 2%;
 
}

#banner{
  width: 100%;
}

#menu{
  text-align: center;
  background-color: rgb(230, 90, 214);
  font-size: 20px;
}

.fixar{
  position: fixed;
  margin-top: 0px !important;
 }

 

  #Produto{
    
}
#rodape{
    text-align: center;
    background-color: rgb(230, 90, 214);
    font-size: 20px;
    color: rgb(245, 242, 237);
    
}

a{
  color: rgb(245, 242, 237);
  padding: 1% ;
}


 

